<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>COP4935 - GitHub Bots</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!-- Local CSS -->
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
  <!-- Just an image -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <i class="fab fa-github fa-1x mr-1"></i>
      COP4935 - GitHub Bots
    </a>
  </nav>
  <div class="d-flex justify-content-between">
    <div class="p-2 flex-row">
      <a class="btn btn-outline-danger" href="/logout" role="button">Log Out</a>
    </div>
    <div class="p-2">
      <div class="d-flex flex-row">
        <div class="pr-2">
          <form class="form-inline input-group" action="/data" method="post">
            <input type="eamil" class="form-control" placeholder="example@domain.com" name="username" required>
            <div class="input-group-append">
              <button class="btn btn-outline-dark" type="submit">Grant or Revoke Access</button>
            </div>
          </form>
        </div>
        <div><a class="btn btn-outline-primary" href="/download" role="button">Download CSV</a></div>
      </div>
    </div>
  </div>
  <hr class="mt-0 mb-0 ml-2 mr-2">
  <div class="row mr-1 ml-1">
    <div class="col-md-6 col-sm-6 pr-1 pl-1 mt-2 mb-2">
      <div class="card text-center">
        <h5 class="card-header">Total Number of Repositories</h5>
      <div class="card-body">
        <h1 class="card-title"><%=botData.length%></h1>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 pr-1 pl-1 mt-2 mb-2">
        <% var temp1 = 0; %>
    <% var temp2 = 0; %>
    <% var temp3 = 0; %>
    <% var temp4 = 0; %>
    <% var temp5 = 0; %>
    <% var temp6 = 0; %>
    <% botData.forEach(function(data){ %>
      <%temp1 = temp1 + data.commits%>
      <%temp2 = temp2 + data.pushes%>
      <%temp3 = temp3 + data.issues_opened%>
      <%temp4 = temp4 + data.issues_closed%>
      <%temp5 = temp5 + data.pull_requests_opened%>
      <%temp6 = temp6 + data.pull_requests_merged%>
    <% }); %>
    <div id="barchart_values"></div>
  </div>
  </div>














 
  <hr class="mt-0 mb-0 ml-2 mr-2">
  <div class="p-2">
    <table class="table table-hover" style="background-color:white;">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Institution</th>
      <th scope="col">Email</th>
      <th scope="col">Access Granted</th>
    </tr>
  </thead>
  <tbody>
     <% users.forEach(function(user){ %>
      <tr>
      <th scope="row"><%=user.name%></th>
      <td><%=user.institution%></td>
      <td><%=user.username%></td>
      <td><%=user.access%></td>
    </tr>
    <% }) %>
  </tbody>
</table>
  </div>
  <script type="text/javascript">
    google.charts.load("current", {
      packages: ["corechart"]
    });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var den = 100;
      var data = google.visualization.arrayToDataTable([
        ["Insights", "#", {
          role: "style"
        }],
        ["Commits", <%=temp1%>, "#76A7FA"],
        ["Pushes", <%=temp2%>, "#C3B1E1"],
        ["Issues Opened", <%=temp3%>, "#AEC997"],
        ["Issues Closed", <%=temp4%>, "color: #FF6962"],
        ["Pull Requests Opened", <%=temp5%>, "color: #fdf496"],
        ["Pull Requests Merged", <%=temp6%>, "#AEC997"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
        {
          calc: "stringify",
          sourceColumn: 1,
          type: "string",
          role: "annotation"
        },
        2
      ]);

      var options = {
        title: "Overview of Insights",
        height: 350,
        bar: {
          groupWidth: "75%"
        },
        legend: {
          position: "none"
        },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
    }
  </script>
</body>
</html>
